
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>BRUGRAM</h1>
				<h2>Photo Sharing for Brus</h2><br>
				<h2><%= link_to "See BruGrams", photos_path %></h2>
				<br><a href="#bottompart"><i class="glyphicon glyphicon-download"></i></a>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


	<div class="container w" id="bottompart">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<i class="fa fa-heart"></i>
				<h4>EXPLORING</h4>
				<p>Whether you are shark-cage diving, sandboarding, surfing, or hiking - the BruGram is the perfect app for capturing your dopest moments.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-laptop"></i>
				<h4>CODING</h4>
				<p>The true iX Bru enjoys coding as much as they enjoy the beautiful city of Cape Town. This website is a product of said coding. Therefore I am a true Bru.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-trophy"></i>
				<h4>MOMENTS</h4>
				<p>If a picture tells a thousand words, a BruGram tells a million. Share your treasured moments with your bruddies.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->
<!--  -->
	